<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LUAK'S Blog</title>
    <link rel="icon" href="https://img.icons8.com/carbon-copy/2x/instagram-new.png">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous"/>
</head>
<body>
<style>
        body {
            font-family: "Roboto", sans-serif;
            font-size: 18px;
            background-color: #484646;
        }

        .head_text {
            color: #ffffff;
        }

        .card {
            background-color: black;
            border-color: #fdfdfd;
        }
        .button{
            background-color: black;
            padding: 15px 32px;
            border: 1px solid #ffffff;
            margin: 12px 12px;
        }
    </style>

<nav class="navbar navbar-expand-lg navbar-light bg-transparent shadow" id="mainNav">

        <a class="navbar-brand text-white" href="{% url 'home' %}">LUAK'S Blog</a>

</nav>
{% block content %}

{% endblock content %}


<a class=" button text-white " href = "{% url 'home' %}"> VOLVER </a>

</body>
</html>


