{% extends "base.html" %}
{% block content %}
<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #383c45;
    }
    
    
    .head_text {
        color: #ffffff;
    }
    
    .card {
        box-shadow: 0 16px 48px #000000;
        background-color: black;
    }
</style>


    <header class="masthead">
        <div class="overlay"></div>
        <div class="container">
                    <div class="site-heading">
                        <h3 class=" site-heading my-4 mt-3 text-white"> Bienvenido al Blog de LUAK </h3>
                        <h4 class="text-light">Escoge que post quieres ver </h4>
                    </div>
                </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-md-8 mt-3 left">
                {% for post in post_list %}
                    <div class="card mb-4">
                        <div class="card-body">
                            <a class="card-title text-white" href="{% url 'post_detail' post.slug %}">{{ post.title }}</a>
                            <p class="card-text text-white h6">{{ post.author }} | {{ post.created_on }} </p>
                            <p class="card-text text-white">{{ post.content|slice:":200" }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>
{% endblock %}